.container-fluid{
    position: relative;
    text-align: center;
    
}
.text_side{
    position: absolute;
    top: 8px;
    right: 16px;
}
body, html {
  margin: 0;
  padding: 0;
}
.navs{
  text-decoration: none;
  color:white;
  
}
.name {
  position: absolute;
  top: 500px;
  left: 150px;
  color: white;

}
.anandhu {
  font-size: 100px;
}
@media screen and (max-width: 900px) {
  .name{
    top: 200px;
    left: 10px;
  }
  .anandhu{
    font-size: 30px;
    top: 140px;
  }
  .genre {
    font-size: 10px;
  }
  
}

.nav{
  position: absolute;
  top: 8px;
  left: 20px;
}
@media screen and (max-width: 900px) {
  .nav{
    opacity: 0;
  }
  
}
.slide  a {

  text-decoration: none;
  color: white;
  list-style-type: none;
  

}
.slide{
  position: absolute;
  height: 30%;
  width: 190px;

  border-radius: 10px;
  top: 70px;
  transition: 0.5s ease;
  transform: translate(-190px);
  background: rgba(255, 255, 255, 255,0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);




}

.slide ul {
  list-style-type: none;
}

.checkbox{
  position: absolute;
  top: 20px;
  left:10px ;
  z-index: 1;
  display: none;
}
.toggle{
  position: absolute;
  top: 30px;
  width: 30px;
  height: 30px;
  left: 15px;
  z-index: 1;
  cursor: pointer;
  border-radius: 2px;
  background-color: white;
  opacity: 0%;


}
.toggle .common{
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: blueviolet;
  border-radius: 50px;
  transition: 0.5s ease;
}
.toggle .top_line {
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.toggle .middle_line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .bottom_line {
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
}
input:checked ~ .toggle .top_line {
  left: 2px;
  top: 15px;
  width: 25px;
  transform: rotate(45deg);
}
input:checked ~ .toggle .middle_line {
  opacity: 0;
  transform: translate(0);
}
input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 15px;
    width: 25px;
    transform: rotate(-45deg);
}
.checkbox:checked ~ .slide {
  transform: translate(0);
}

@media screen and (max-width :900px) {
  .toggle{
    opacity: 100%;
  }
  
}
@font-face {
  font-family: 'italics';
  src: url(./assets/fonts/SellenaBrush-x3JyK.ttf);
}
.aboutme{
  background-color: goldenrod;
  padding: 10px 5px 10px  ;
}
form{
  padding: 10px 10px ;
  background: linear-gradient(to right, #ff7e5f, #feb47b);

  border-radius: 10px;

}
input{
  border-radius: 10px;
  border-style: none;
  border-bottom: none;
}
.card-body {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4); /* Pink gradient */

}

.newone{
 background: linear-gradient(to right, #ff6a00, #ee0979);
}